*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background-color: #b5b0b0;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.login-text{
  margin-bottom: 20px;
}
.container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  max-width:1200px;
}
.left{
  width:50%;
  padding: 40px;
  text-align: center
}
.logo{
  width: 100px;
  margin-bottom: 20px;
}
.main-btn{
  width:220px;
  padding:14px;
  background:#ff9800;
  color:white;
  border:none;
  border-radius:30px;
  font-size:15px;
  cursor:pointer;
}
.main-btn:hover{
  background:#e68900;
}

.right{
  width:50%;
  padding: 40px;
  text-align: center
}
.right h2{
  margin-bottom: 20px;
}
.row{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}
.otp-btn{
  background-color: #ff8c00;
  color:#fff;
  border:none;
  padding:10px 20px;
  cursor:pointer;
}
input, select{
  width:100%;
  padding:12px;
  border:none;
  background:#f5f5f5;
  border-radius:6px;
}
select{
  width:110px;
}
.main-btn{
  width:200px;
  padding:12px;
  background:orange;
  color:white;
  border:none;
  border-radius:25px;
  cursor:pointer;
}
.otp-btn{
  padding:10px 15px;
  border:1px solid #0066ff;
  background:white;
  color:#0066ff;
  border-radius:6px;
  cursor:pointer;
}

.outline-btn{
  padding:12px 30px;
  border:1px solid white;
  color:white;
  border-radius:25px;
  text-decoration:none;
}
.right .checkbox{
  margin-bottom:20px;
}
.checkbox{
  font-size:14px;
  text-align:left;
  margin-bottom:15px;
}
.switch-btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 35px;
  border:2px solid #000;
  color:#000;
  border-radius:30px;
  text-decoration:none;
  font-weight:500;
}
.switch-btn:hover{
  background:#000;
  color:white;
}
.read-btn{
  margin-top: 20px;
  background-color: #ff8c00;
  color:#fff;
  border:none;
  padding:10px 20px;
  cursor:pointer;
}


