*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.header{
  width: 100%;
  height: auto;
  background-color: #fff;
}
.nav-dropdown {
  position: relative;
}
.drop-btn {
  text-decoration: none;
  color: #ff8c00;
  font-weight: 500;
  padding: 10px 0;
}
.nav-dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 45px;
  left: -40px;
  background: #ff9800;
  width: 220px;
  border-radius: 12px;
  display: none;
  padding: 15px 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  z-index: 999;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ff9800;
}
.dropdown-menu a {
  display: block;
  padding: 10px 25px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.top-bar{
  display: flex;
  justify-content: space-between;
   padding: 10px 30px;
  border-bottom: 1px solid #f3d8a8;
  flex-wrap: nowrap;
}
.logo img{
   height: 65px;
   margin-right: 20px;
}
.top-links {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
  flex-wrap: nowrap;
}
.top-links a{
  text-decoration: none;
  color: #000;
}
.top-item a:hover {
  color: #ff8c00;
}
.top-item small{
  font-size: 12px;
  color: #ff8c00;

}
.top-item b{
  font-weight: 600;
}
.top-item{
  display: flex;
  align-items: center;
  gap: 5px;
}
.top-item a{
  font-size: 14px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px 0;
  background: #fff8e6;
}
.nav-bar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #6b4b16;
}

.nav-bar a:hover {
  color: #ff8c00;
  border-bottom: 2px solid #ff8c00;
  padding-bottom: 4px;
}
.hero-banner{
  width:100%;
  height:500px;
  object-fit: cover;
}
.welcome{
  padding: 80px 20px;
  background: #fff;
  text-align: center;

}
.welcome h2{
  font-size: 32px;
  margin-bottom: 10px;
}
.welcome p{
  font-size: 16px;
  margin-bottom: 10px;
}
.welcome-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8f641a;
}
.welcome-left{
  padding: 20px;
  width: 50%;
  text-align: left;
}
.welcome-right{
  width: 50%;
}
.read-btn{
  margin-top: 20px;
  background-color: #ff8c00;
  color:#fff;
  border:none;
  padding:10px 20px;
  cursor:pointer;
}
@media (max-width: 768px) {
  .top-bar{
    flex-direction: column;
  }
  .top-links{
    flex-direction: column;
  }
  .nav-bar{
    flex-direction: column;
  }
  .welcome-container{
    flex-direction: column;
  }
}


/* /* Founder */
.founder-section{
  padding: 80px 20px;
  background: #fff;
  text-align: center;
}
.founder-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8f641a;
}
.founder-left{
  padding: 20px;
  width: 50%;
  text-align: center;
}

.founder-name{
  font-size: 32px;
  margin-bottom: 10px;
  color: #ff8c00;
  font-weight: 600;
  text-align: center;
}
.founder-desc{
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
.articles{
  padding: 80px 20px;
  background: #fff;
  text-align: center;
}
.articles-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.articles-title {
  font-size: 34px;
  margin-bottom: 50px;
  position: relative;
}
.articles-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.article-card {
  background: #fff;
  overflow: hidden;
}
.qa-section{
  padding: 80px 20px;
  background: #fff;
  text-align: center;
}
.qa-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.qa-left {
  width: 50%;
  background: #4f8b23;
  color: #fff;
  padding: 50px;
}
.qa-right {
  width: 50%;
  background: #fff;
  padding: 50px;
}
.qa-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.qa-intro {
  font-size: 16px;
  margin-bottom: 30px;
}

.knowledge-box {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 25px;
}

.knowledge-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.knowledge-box p {
  font-size: 14px;
  line-height: 1.8;
}
.qa-right {
  width: 50%;
  padding: 50px;
}

.qa-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.qa-item {
  background: linear-gradient(#ffb347, #ff7f2a);
  padding: 18px 25px;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .faq-container {
    flex-direction: column;
  }
  .qa-left,
  .qa-right {
    width: 100%;
  }
}
/* /*Footer */
.footer {
  background: #fff;
  padding: 1px;
  border-top: 1px solid #e0e0e0;
}

.footer-container {
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 0 20px 30px;
}

.footer-logo {
  width: 140px;
  margin-bottom: 20px;
}

.footer-col h3 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  border-bottom: 2px solid orange;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.8;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  font-size: 14px;
  margin-bottom: 10px;
}


.newsletter {
  background: rgba(122, 121, 121, 0.5);
  text-align: center;
  padding: 40px 20px;
}

.newsletter h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 14px;
  margin-bottom: 20px;
}

.newsletter-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter-box input {
  width: 300px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #000;
}

.newsletter-box button {
  padding: 12px 25px;
  background: orange;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.footer-bottom {
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  background: #a9a4a4;
}


@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .newsletter-box {
    flex-direction: column;
  }

  .newsletter-box input {
    width: 100%;
  }
}